# ----------------------------
# Настройки Kafka
# ----------------------------

# Внешний порт Kafka, через который клиенты подключаются снаружи контейнера
KAFKA_EXTERNAL_PORT=${CORE_KAFKA_EXTERNAL_PORT}

# Внутренний порт Kafka, который используется внутри docker-сети
KAFKA_INTERNAL_PORT=${CORE_KAFKA_INTERNAL_PORT}

# Порт контроллера Kafka (используется при работе в режиме KRaft)
KAFKA_CONTROLLER_PORT=${CORE_KAFKA_CONTROLLER_PORT}

# Порт для веб-интерфейса Kafka UI (например, Kafdrop, Redpanda Console)
KAFKA_UI_PORT=${CORE_KAFKA_UI_PORT}

# Название топика с событиями "Заказ оплачен"
KAFKA_ORDER_PAID_TOPIC_NAME=${CORE_KAFKA_ORDER_PAID_TOPIC_NAME}

# Название топика с событиями "Заказ собран"
KAFKA_ORDER_ASSEMBLED_TOPIC_NAME=${CORE_KAFKA_ORDER_ASSEMBLED_TOPIC_NAME}

# Внешний порт Elasticsearch, через который клиенты подключаются снаружи контейнера
ELASTICSEARCH_EXTERNAL_PORT=${CORE_ELASTICSEARCH_EXTERNAL_PORT}

# Внутренний порт Elasticsearch, который используется внутри docker-сети
ELASTICSEARCH_INTERNAL_PORT=${CORE_ELASTICSEARCH_INTERNAL_PORT}

# Внешний порт Kibana, через который клиенты подключаются снаружи контейнера
KIBANA_EXTERNAL_PORT=${CORE_KIBANA_EXTERNAL_PORT}

# Внутренний порт Elasticsearch, который используется внутри docker-сети
KIBANA_INTERNAL_PORT=${CORE_KIBANA_INTERNAL_PORT}

# Внешний порт Prometheus, через который клиенты подключаются снаружи контейнера
PROMETHEUS_EXTERNAL_PORT=${CORE_PROMETHEUS_EXTERNAL_PORT}

# Внутренний порт Prometheus, который используется внутри docker-сети
PROMETHEUS_INTERNAL_PORT=${CORE_PROMETHEUS_INTERNAL_PORT}

# Внешний порт Grafana, через который клиенты подключаются снаружи контейнера
GRAFANA_EXTERNAL_PORT=${CORE_GRAFANA_EXTERNAL_PORT}

# Внутренний порт Grafana, который используется внутри docker-сети
GRAFANA_INTERNAL_PORT=${CORE_GRAFANA_INTERNAL_PORT}

# Имя пользователя для Grafana
GRAFANA_ADMIN_USER=${CORE_GRAFANA_ADMIN_USER}

# Пароль пользователя Grafana
GRAFANA_ADMIN_PASSWORD=${CORE_GRAFANA_ADMIN_PASSWORD}

# Внешний gRPC порт Otel-collector, через который клиенты подключаются снаружи контейнера
OTEL_COLLECTOR_EXTERNAL_GRPC_PORT=${CORE_OTEL_COLLECTOR_EXTERNAL_GRPC_PORT}

# Внутренний gRPC порт Otel-collector, который используется внутри docker-сети
OTEL_COLLECTOR_INTERNAL_GRPC_PORT=${CORE_OTEL_COLLECTOR_INTERNAL_GRPC_PORT}

# Внешний HTTP порт Otel-collector, через который клиенты подключаются снаружи контейнера
OTEL_COLLECTOR_EXTERNAL_HTTP_PORT=${CORE_OTEL_COLLECTOR_EXTERNAL_HTTP_PORT}

# Внутренний HTTP порт Otel-collector, который используется внутри docker-сети
OTEL_COLLECTOR_INTERNAL_HTTP_PORT=${CORE_OTEL_COLLECTOR_INTERNAL_HTTP_PORT}

# Внешний порт встроенного HTTP-сервера OTel Collector'a, который будет предоставлять метрики о внутренней работе коллектора
OTEL_COLLECTOR_METRICS_EXTERNAL_PORT=${CORE_OTEL_COLLECTOR_METRICS_EXTERNAL_PORT}

# Внутренний порт, который используется внутри docker-сети, встроенного HTTP-сервера OTel Collector'a, который будет предоставлять метрики о внутренней работе коллектора
OTEL_COLLECTOR_METRICS_INTERNAL_PORT=${CORE_OTEL_COLLERTOR_METRICS_INTERNAL_PORT}