# ----------------------------
# Настройки Kafka
# ----------------------------

# Внешний порт Kafka, через который клиенты подключаются снаружи контейнера
KAFKA_EXTERNAL_PORT=${CORE_KAFKA_EXTERNAL_PORT}

# Внутренний порт Kafka, который используется внутри docker-сети
KAFKA_INTERNAL_PORT=${CORE_KAFKA_INTERNAL_PORT}

# Порт контроллера Kafka (используется при работе в режиме KRaft)
KAFKA_CONTROLLER_PORT=${CORE_KAFKA_CONTROLLER_PORT}

# Порт для веб-интерфейса Kafka UI (например, Kafdrop, Redpanda Console)
KAFKA_UI_PORT=${CORE_KAFKA_UI_PORT}

# Название топика с событиями "Заказ оплачен"
KAFKA_ORDER_PAID_TOPIC_NAME=${CORE_KAFKA_ORDER_PAID_TOPIC_NAME}

# Название топика с событиями "Заказ собран"
KAFKA_ORDER_ASSEMBLED_TOPIC_NAME=${CORE_KAFKA_ORDER_ASSEMBLED_TOPIC_NAME}

# Внешний порт Elasticsearch, через который клиенты подключаются снаружи контейнера
ELASTICSEARCH_EXTERNAL_PORT=${CORE_ELASTICSEARCH_EXTERNAL_PORT}

# Внутренний порт Elasticsearch, который используется внутри docker-сети
ELASTICSEARCH_INTERNAL_PORT=${CORE_ELASTICSEARCH_INTERNAL_PORT}

# Внешний порт Kibana, через который клиенты подключаются снаружи контейнера
KIBANA_EXTERNAL_PORT=${CORE_KIBANA_EXTERNAL_PORT}

# Внутренний порт Elasticsearch, который используется внутри docker-сети
KIBANA_INTERNAL_PORT=${CORE_KIBANA_INTERNAL_PORT}

# Внешний порт Otel-collector, через который клиенты подключаются снаружи контейнера
OTEL_COLLECTOR_EXTERNAL_GRPC_PORT=${CORE_OTEL_COLLECTOR_EXTERNAL_GRPC_PORT}

# Внутренний порт Otel-collector, который используется внутри docker-сети
OTEL_COLLECTOR_INTERNAL_GRPC_PORT=${CORE_OTEL_COLLECTOR_INTERNAL_GRPC_PORT}