# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

# Адрес, на котором будет слушать gRPC-сервер
GRPC_HOST=${INVENTORY_GRPC_HOST}

# Порт, на котором будет работать gRPC-сервер
GRPC_PORT=${INVENTORY_GRPC_PORT}


# ----------------------------
# Настройки IAM-клиента
# ----------------------------

# Хост, IAM сервиса
IAM_GRPC_HOST=${INVENTORY_IAM_GRPC_HOST}

# Порт, IAM сервиса
IAM_GRPC_PORT=${INVENTORY_IAM_GRPC_PORT}


# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${INVENTORY_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${INVENTORY_LOGGER_AS_JSON}

# Включить экспорт логов в OTLP (true/false)
LOGGER_ENABLE_OTLP=${INVENTORY_LOGGER_ENABLE_OTLP}

# OTLP endpoint (например: otel-collector:4317)
LOGGER_OTLP_ENDPOINT=${INVENTORY_LOGGER_OTLP_ENDPOINT}

# Имя сервиса (для трассировки/логирования)
LOGGER_SERVICE_NAME=${INVENTORY_LOGGER_SERVICE_NAME}

# Окружение сервиса (например: dev, stage, prod)
LOGGER_SERVICE_ENVIRONMENT=${INVENTORY_LOGGER_SERVICE_ENVIRONMENT}


# ----------------------------
# Настройки MongoDB
# ----------------------------

# Название Docker-образа MongoDB (для docker-compose)
MONGO_IMAGE_NAME=${INVENTORY_MONGO_IMAGE_NAME}

# Внешний порт MongoDB (для подключения извне контейнера)
EXTERNAL_MONGO_PORT=${INVENTORY_EXTERNAL_MONGO_PORT}

# Внутренний порт MongoDB (для подключения внутри docker-сети)
INTERNAL_MONGO_PORT=${INVENTORY_INTERNAL_MONGO_PORT}

# Хост MongoDB (внутри docker-сети)
MONGO_HOST=${INVENTORY_MONGO_HOST}

# Внутренний порт MongoDB
MONGO_PORT=${INVENTORY_INTERNAL_MONGO_PORT}

# Название базы данных по умолчанию
MONGO_INITDB_DATABASE=${INVENTORY_MONGO_INITDB_DATABASE}

# База для аутентификации
MONGO_AUTH_SOURCE=${INVENTORY_MONGO_AUTH_SOURCE}

# Имя root-пользователя MongoDB
MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_INITDB_ROOT_USERNAME}

# Пароль root-пользователя MongoDB
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_INITDB_ROOT_PASSWORD}
