# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}

# Включить экспорт логов в OTLP (true/false)
LOGGER_ENABLE_OTLP=${NOTIFICATION_LOGGER_ENABLE_OTLP}

# OTLP endpoint (например: otel-collector:4317)
LOGGER_OTLP_ENDPOINT=${NOTIFICATION_LOGGER_OTLP_ENDPOINT}

# Имя сервиса (для трассировки/логирования)
LOGGER_SERVICE_NAME=${NOTIFICATION_LOGGER_SERVICE_NAME}

# Окружение сервиса (например: dev, stage, prod)
LOGGER_SERVICE_ENVIRONMENT=${NOTIFICATION_LOGGER_SERVICE_ENVIRONMENT}


# ----------------------------
# Kafka настройки
# ----------------------------

# Адреса Kafka-брокеров через запятую
KAFKA_BROKERS=${ASSEMBLY_KAFKA_BROKERS}

# Название топика с событиями "Заказ оплачен"
ORDER_PAID_TOPIC_NAME=${CORE_KAFKA_ORDER_PAID_TOPIC_NAME}

# Название топика с событиями "Заказ собран"
ORDER_ASSEMBLED_TOPIC_NAME=${CORE_KAFKA_ORDER_ASSEMBLED_TOPIC_NAME}

# Идентификатор consumer group для обработки событий "Заказ оплачен"
ORDER_PAID_CONSUMER_GROUP_ID=${NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID}

# Идентификатор consumer group для обработки событий "Заказ собран"
ORDER_ASSEMBLED_CONSUMER_GROUP_ID=${NOTIFICATION_ORDER_ASSEMBLED_CONSUMER_GROUP_ID}

# Идентификатор Telegram бота
TELEGRAM_BOT_TOKEN=${NOTIFICATION_TELEGRAM_BOT_TOKEN}

# Идентификатор чата в Telegram
TELEGRAM_CHAT_ID=${NOTIFICATION_TELEGRAM_CHAT_ID}