# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}

# ----------------------------
# Kafka настройки
# ----------------------------

# Адреса Kafka-брокеров через запятую
KAFKA_BROKERS=${ASSEMBLY_KAFKA_BROKERS}

# Название топика с событиями "Заказ оплачен"
ORDER_PAID_TOPIC_NAME=${CORE_KAFKA_ORDER_PAID_TOPIC_NAME}

# Название топика с событиями "Заказ собран"
ORDER_ASSEMBLED_TOPIC_NAME=${CORE_KAFKA_ORDER_ASSEMBLED_TOPIC_NAME}

# Идентификатор consumer group для обработки событий "Заказ оплачен"
ORDER_PAID_CONSUMER_GROUP_ID=${NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID}

# Идентификатор consumer group для обработки событий "Заказ собран"
ORDER_ASSEMBLED_CONSUMER_GROUP_ID=${NOTIFICATION_ORDER_ASSEMBLED_CONSUMER_GROUP_ID}

# Идентификатор Telegram бота
TELEGRAM_BOT_TOKEN=${NOTIFICATION_TELEGRAM_BOT_TOKEN}

# Идентификатор чата в Telegram
TELEGRAM_CHAT_ID=${NOTIFICATION_TELEGRAM_CHAT_ID}