# ----------------------------
# Настройки HTTP-сервера
# ----------------------------

# Адрес, на котором будет слушать HTTP-сервер
HTTP_HOST=${ORDER_HTTP_HOST}

# Порт, на котором будет работать HTTP-сервер
HTTP_PORT=${ORDER_HTTP_PORT}

# Таймаут
HTTP_READ_HEADER_TIMEOUT_SEC=${ORDER_HTTP_READ_HEADER_TIMEOUT_SEC}


# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${ORDER_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${ORDER_LOGGER_AS_JSON}

# Включить экспорт логов в OTLP (true/false)
LOGGER_ENABLE_OTLP=${ORDER_LOGGER_ENABLE_OTLP}

# OTLP endpoint (например: otel-collector:4317)
LOGGER_OTLP_ENDPOINT=${ORDER_LOGGER_OTLP_ENDPOINT}

# Имя сервиса (для трассировки/логирования)
LOGGER_SERVICE_NAME=${ORDER_LOGGER_SERVICE_NAME}

# Окружение сервиса (например: dev, stage, prod)
LOGGER_SERVICE_ENVIRONMENT=${ORDER_LOGGER_SERVICE_ENVIRONMENT}


# ----------------------------
# Настройки метрик
# ----------------------------

# OpenTelemetry collector endpoint (например: otel-collector:4317)
METRICS_OTEL_COLLECTOR_ENDPOINT=${ORDER_METRICS_OTEL_COLLECTOR_ENDPOINT}

# Интервал отправки метрик OpenTelemetry коллектором
METRICS_OTEL_COLLECTOR_INTERVAL=${ORDER_METRICS_OTEL_COLLECTOR_INTERVAL}

# Таймаут для отправки батча метрик OpenTelemetry коллектором
METRICS_OTEL_COLLECTOR_TIMEOUT=${ORDER_METRICS_OTEL_COLLECTOR_TIMEOUT}


# ----------------------------
# Настройки PostgresDB
# ----------------------------

# Название Docker-образа MongoDB (для docker-compose)
PG_IMAGE_NAME=${ORDER_PG_IMAGE_NAME}

# Внешний порт PostgresDB (для подключения извне контейнера)
EXTERNAL_PG_PORT=${ORDER_EXTERNAL_PG_PORT}

# Внутренний порт PostgresDB (для подключения извне контейнера)
INTERNAL_PG_PORT=${ORDER_INTERNAL_PG_PORT}

# Хост PostgresDB (внутри docker-сети)
PG_HOST=${ORDER_PG_HOST}

# Порт PostgresDB (внутри docker-сети)
PG_PORT=${ORDER_INTERNAL_PG_PORT}

# Название базы данных по умолчанию
PG_DB=${ORDER_PG_DB}

# Имя пользователя PostgresDB
PG_USER=${ORDER_PG_USER}

# Пароль пользователя PostgresDB
PG_PASSWORD=${ORDER_PG_PASSWORD}

# Режим SSL
PG_SSL_MODE=${ORDER_PG_SSL_MODE}

# Директория с миграциями для PostgresDB
MIGRATION_DIR=${ORDER_MIGRATION_DIR}


# ----------------------------
# Настройки gRPC-клиент Inventory-сервиса
# ----------------------------

# Хост Inventory-сервиса (внутри docker-сети)
INVENTORY_GRPC_HOST=${ORDER_INVENTORY_GRPC_HOST}

# Порт Inventory-сервиса (внутри docker-сети)
INVENTORY_GRPC_PORT=${ORDER_INVENTORY_GRPC_PORT}


# ----------------------------
# Настройки gRPC-клиент Payment-сервиса
# ----------------------------

# Хост Payment-сервиса (внутри docker-сети)
PAYMENT_GRPC_HOST=${ORDER_PAYMENT_GRPC_HOST}

# Порт Payment-сервиса (внутри docker-сети)
PAYMENT_GRPC_PORT=${ORDER_PAYMENT_GRPC_PORT}


# ----------------------------
# Настройки IAM-клиента
# ----------------------------

# Хост, IAM сервиса
IAM_GRPC_HOST=${ORDER_IAM_GRPC_HOST}

# Порт, IAM сервиса
IAM_GRPC_PORT=${ORDER_IAM_GRPC_PORT}


# ----------------------------
# Kafka настройки
# ----------------------------

# Адреса Kafka-брокеров через запятую
KAFKA_BROKERS=${ORDER_KAFKA_BROKERS}

# Название топика с событиями "Заказ оплачен"
ORDER_PAID_TOPIC_NAME=${CORE_KAFKA_ORDER_PAID_TOPIC_NAME}

# Название топика с событиями "Заказ собран"
ORDER_ASSEMBLED_TOPIC_NAME=${CORE_KAFKA_ORDER_ASSEMBLED_TOPIC_NAME}

# Идентификатор consumer group для обработки событий "Заказ собран"
ORDER_ASSEMBLED_CONSUMER_GROUP_ID=${ORDER_ORDER_ASSEMBLED_CONSUMER_GROUP_ID}