# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

# Адрес, на котором будет слушать gRPC-сервер
GRPC_HOST=${PAYMENT_GRPC_HOST}

# Порт, на котором будет работать gRPC-сервер
GRPC_PORT=${PAYMENT_GRPC_PORT}


# ----------------------------
# Настройки IAM-клиента
# ----------------------------

# Хост, IAM сервиса
IAM_GRPC_HOST=${PAYMENT_IAM_GRPC_HOST}

# Порт, IAM сервиса
IAM_GRPC_PORT=${PAYMENT_IAM_GRPC_PORT}


# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}

# Включить экспорт логов в OTLP (true/false)
LOGGER_ENABLE_OTLP=${PAYMENT_LOGGER_ENABLE_OTLP}

# OTLP endpoint (например: otel-collector:4317)
LOGGER_OTLP_ENDPOINT=${PAYMENT_LOGGER_OTLP_ENDPOINT}

# Имя сервиса (для трассировки/логирования)
LOGGER_SERVICE_NAME=${PAYMENT_LOGGER_SERVICE_NAME}

# Окружение сервиса (например: dev, stage, prod)
LOGGER_SERVICE_ENVIRONMENT=${PAYMENT_LOGGER_SERVICE_ENVIRONMENT}


# ----------------------------
# Настройки метрик
# ----------------------------

# OpenTelemetry collector endpoint (например: otel-collector:4317)
METRICS_OTEL_COLLECTOR_ENDPOINT=${PAYMENT_METRICS_OTEL_COLLECTOR_ENDPOINT}

# Интервал отправки метрик OpenTelemetry коллектором
METRICS_OTEL_COLLECTOR_INTERVAL=${PAYMENT_METRICS_OTEL_COLLECTOR_INTERVAL}

# Таймаут для отправки батча метрик OpenTelemetry коллектором
METRICS_OTEL_COLLECTOR_TIMEOUT=${PAYMENT_METRICS_OTEL_COLLECTOR_TIMEOUT}


# ----------------------------
# Настройки трейсов
# ----------------------------

# OTel collector endpoint (например: otel-collector:4317)
TRACING_OTEL_COLLECTOR_ENDPOINT=${PAYMENT_TRACING_OTEL_COLLECTOR_ENDPOINT}

# Имя сервиса (для трассировки/логирования)
TRACING_SERVICE_NAME=${PAYMENT_TRACING_SERVICE_NAME}

# Окружение сервиса (например: dev, stage, prod)
TRACING_SERVICE_ENVIRONMENT=${PAYMENT_TRACING_SERVICE_ENVIRONMENT}

# Версия сервиса
TRACING_SERVICE_VERSION=${PAYMENT_TRACING_SERVICE_VERSION}