✅ **Заказ оплачен!**

🆔 **ID:** {{.UUID}}
📦 **Идентификатор заказа:** {{.OrderUUID}}
👤 **Идентификатор пользователя:** {{.UserUUID}}
💳 **Метод оплаты:** {{.PaymentMethod}}
🧾 **Идентификатор транзакции:** {{.TransactionUUID}}